<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Medical Records - Home</title>
</head>
<body>

<h2>Medical Records System</h2>

<div sec:authorize="isAuthenticated()">
    Welcome,
    <b th:text="${#authentication.principal.attributes['name']}"></b>
</div>

<hr/>

<!-- Navigation -->
<ul>
    <li sec:authorize="hasRole('PATIENT')">
        <a th:href="@{/patient/appointments}">Appointments</a>
    </li>

    <li sec:authorize="hasRole('PATIENT')">
        <a th:href="@{/patient/appointment/create}">Book an appointment</a>
    </li>

    <li sec:authorize="hasRole('PATIENT')">
        <a th:href="@{/patient/sick-leaves}">My Sick Leaves</a>
    </li>

    <li sec:authorize="hasRole('PATIENT')">
        <a th:href="@{/patient/diagnoses}">My Diagnoses</a>
    </li>

    <li sec:authorize="hasRole('PATIENT')">
        <a th:href="@{/patient/insurance}">Insurance</a>
    </li>

    <li sec:authorize="hasRole('PATIENT')">
        <a th:href="@{/primary-care-doctor/choose}">Choose Primary Care Doctor</a>
    </li>

    <li sec:authorize="hasRole('DOCTOR')">
        <a th:href="@{/doctor/appointments}">Appointments</a>
    </li>

    <li sec:authorize="hasRole('DOCTOR')">
        <a th:href="@{/doctor/reports}">Reports</a>
    </li>

</ul>

<hr/>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>

<div sec:authorize="isAnonymous()">
    <a th:href="@{/oauth2/authorization/keycloak}">Login</a>
</div>

</body>
</html>