<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Choose Primary Care Doctor</title>
</head>
<body>

<h2>Choose Your Primary Care Doctor</h2>

<div th:if="${patient.primaryCareDoctor != null}">
  Current Doctor:
  <b th:text="${patient.primaryCareDoctor.user.firstName + ' ' + patient.primaryCareDoctor.user.lastName}"></b>
</div>

<form th:action="@{/primary-care-doctor/choose}" method="post">

  <label>Select Doctor</label><br/>

  <select name="doctorId" required>
    <option value="">-- Select --</option>

    <option th:each="doctor : ${doctors}"
            th:value="${doctor.id}"
            th:text="${doctor.user.firstName + ' ' + doctor.user.lastName + ' - ' + doctor.specialty}">
    </option>
  </select>

  <br/><br/>
  <button type="submit">Save</button>
</form>

</body>
</html>
